<h2>My TrayConfigs</h2>
<p-toast></p-toast>

<div class="card">
	
	
	<p-toolbar styleClass="p-mb-4">
		<ng-template pTemplate="left">
			<button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
			        (click)="openNew()"></button>
		</ng-template>
		
		<ng-template pTemplate="right">
			<p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
			              class="p-mr-2 p-d-inline-block"></p-fileUpload>
			<button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
		</ng-template>
	</p-toolbar>
	
	<p-table styleClass="p-datatable-xl" #dt [value]="trayConfigs" [rows]="10" [paginator]="true" [rowHover]="true"
	         dataKey="Id">
		<ng-template pTemplate="header">
			<tr>
				<th style="width: 3rem">
					<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
				</th>
				<th></th>
				<th pSortableColumn="Id">Id
					<p-sortIcon field="Id"></p-sortIcon>
				</th>
				<th pSortableColumn="PlantId">PlantId
					<p-sortIcon field="PlantId"></p-sortIcon>
				</th>
				<th pSortableColumn="StartedAt">StartedAt
					<p-sortIcon field="PlantId"></p-sortIcon>
				</th>
				<th></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-trayConfig>
			<tr>
				<td>
					<p-tableCheckbox [value]="trayConfig"></p-tableCheckbox>
				</td>
				
				<td>{{trayConfig.Id}}</td>
				<td>{{trayConfig.PlantId}}</td>
				<td>{{trayConfig.StartedAt}}</td>
				<td>
					<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
					        (click)="edit(trayConfig)"></button>
					<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
					        (click)="delete(trayConfig.Id)"></button>
				</td>
			</tr>
		</ng-template>
		
		<ng-template pTemplate="summary">
			<div class="p-d-flex p-ai-center p-jc-between">
				In total there are {{trayConfigs ? trayConfigs.length : 0 }} trayConfigs.
			</div>
		</ng-template>
	</p-table>

</div>


<p-dialog [(visible)]="trayConfigDialog" header="TrayConfig Details" [modal]="true"
          styleClass="p-fluid">
	
	<ng-template pTemplate="content">
		<div class="p-field">
			<label for="Id">Id </label>
			<p-inputNumber id="Id" [(ngModel)]="trayConfig.Id" required disabled></p-inputNumber>
		</div>
		<div class="p-field">
			<label for="PlantId">PlantId </label>
			<p-inputNumber id="PlantId" [(ngModel)]="trayConfig.PlantId" required autofocus>    </p-inputNumber>
			<small class="p-invalid" *ngIf="submitted && !trayConfig.PlantId">PlantId is required.</small>
		</div>
		<div class="p-field">
			<label for="StartedAt">StartedAt </label>
			<p-calendar [inline]="true" id="StartedAt" [(ngModel)]="trayConfig.StartedAt" required></p-calendar>
			<small class="p-invalid" *ngIf="submitted && !trayConfig.StartedAt">StartedAt is required.</small>
		</div>
	
	</ng-template>
	
	<ng-template pTemplate="footer">
		<button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
		<button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
	</ng-template>
</p-dialog>
