<h2>My Plants</h2>
<p-toast></p-toast>

<div class="card">
	
	
	<p-toolbar styleClass="p-mb-4">
		<ng-template pTemplate="left">
			<button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
			        (click)="openNew()"></button>
		</ng-template>
		
		<ng-template pTemplate="right">
			<p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
			              class="p-mr-2 p-d-inline-block"></p-fileUpload>
			<button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
		</ng-template>
	</p-toolbar>
	
	<p-table styleClass="p-datatable-xl" #dt [value]="plants" [rows]="10" [paginator]="true" [rowHover]="true"
	         dataKey="Id">
		<ng-template pTemplate="header">
			<tr>
				<th style="width: 3rem">
					<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
				</th>
				<th></th>
				<th pSortableColumn="Id">Id
					<p-sortIcon field="Id"></p-sortIcon>
				</th>
				<th pSortableColumn="Name">Name
					<p-sortIcon field="Name"></p-sortIcon>
				</th>
				<th></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-plant>
			<tr>
				<td>
					<p-tableCheckbox [value]="plant"></p-tableCheckbox>
				</td>
				
				<td>
					<img [src]="getPlantImage(plant)" [alt]="plant.Name" width="100" class="p-shadow-4"/>
				</td>
				
				<td>{{plant.Id}}</td>
				<td>{{plant.Name}}</td>
				<td>
					<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
					        (click)="edit(plant)"></button>
					<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
					        (click)="delete(plant.Id)"></button>
				</td>
			</tr>
		</ng-template>
		
		<ng-template pTemplate="summary">
			<div class="p-d-flex p-ai-center p-jc-between">
				In total there are {{plants ? plants.length : 0 }} plants.
			</div>
		</ng-template>
	</p-table>

</div>


<p-dialog [(visible)]="plantDialog" [style]="{width: '450px'}" header="Plant Details" [modal]="true"
          styleClass="p-fluid">
	
	<ng-template pTemplate="content">
		<div class="p-field">
			<label for="Id">Id</label>
			<p-inputNumber id="Id" [(ngModel)]="plant.Id" required disabled></p-inputNumber>
		</div>
		<div class="p-field">
			<label for="Name">Name</label>
			<input type="text" pInputText id="Name" [(ngModel)]="plant.Name" required autofocus/>
			<small class="p-invalid" *ngIf="submitted && !plant.Name">Name is required.</small>
		</div>
		
	</ng-template>
	
	<ng-template pTemplate="footer">
		<button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
		<button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
	</ng-template>
</p-dialog>
